html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
}
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: rgb(241, 245, 249);
}
body::-webkit-scrollbar-thumb {
    background: rgb(49, 69, 120);
}
.main {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

/*
    Lead section
*/
#lead {
    background-image: url(../img/background/softwareDev.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    max-width: 100%;
}
.lead-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    max-width: 100%;
}
.lead-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 3;
    max-width: 100%;

}
.title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: -45px;
}
.sub-title-animation {
    font-size: 1.5rem;
    opacity: 0.9;
    font-weight: lighter;
}
.blinking-cursor {
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
.btn-resume {
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 45px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0;
    transition: 0.5s ease all;
}
.btn-resume:link {
    text-decoration: none;
}
.btn-resume:visited {
    text-decoration: none;
}
.btn-resume:hover {
    text-decoration: none;
    color: rgb(35, 49, 86);
    background:rgb(255, 255, 255);
    font-weight: bold;
}
.btn-resume:active {
    text-decoration: none;
}
#scroll-down {
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    text-decoration: none;
    width: 25px;
    height: 25px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    z-index: 3;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation:    fade_move_down 2s ease-in-out infinite;
    animation:         fade_move_down 2s ease-in-out infinite;
}
@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/*
    Navbar
*/
.navbar {
    position: fixed;
    background-color: rgb(63, 89, 154);
    transition: 200ms ease;
    z-index: 20;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    background: rgb(49, 69, 120);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo img {
    transform: rotate(0deg);
    transition: transform 500ms;
    max-width: 2rem;
    margin-left: 1rem;
}
.navbar:hover .logo img {
    transform: rotate(-180deg);
}
.navbar-item {
    width: 100%;
}
.nav-link {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.9);
    transition: 200ms;
}
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: rgb(35, 49, 86);
}
.link-text {
    display: none;
    margin-left: 2rem;
}
.nav-icon {
    max-width: 2rem;
}

/*
    About
*/
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
}
.a-title {
    font-size: 2rem;
    margin-bottom: 0;
}
.a-title p {
    color: rgb(50, 50, 50);
    padding: 7.5px;
    border-bottom: 1px solid rgb(63, 89, 154);
}
.a-content {
    color: rgb(76, 76, 76);
    font-size: 1rem;
    padding: 5vh;
    text-align: justify;
}


#skills {
    background-color: rgb(210, 222, 235);
}

/*
    Portfolio
*/
#portfolio {
    height: 30vh;
    background-color: rgb(210, 222, 235);
}
.p-items li{
    display: inline-block;
    padding: 5px;
}
.p-items-container{
    width: 100%;
}
.p-items li img{
    width: 15vw;
    height: 15vh;
    width: 100%;
    -webkit-transition: all 0.1s linear, 1s;
    -moz-transition: all 0.1s linear, 1s;
    -o-transition: all 0.1s linear, 1s;
    -ms-transition: all 0.1s linear, 1s;
    -transition: all 0.1s linear, 1s;
}
.p-items .p-item{
    position: relative;
    display: block;
    overflow: hidden;
}
.p-items .p-icons{
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}
.p-items .p-icons i {
    color:rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 9px;
}
.p-items a{
    width: 40px;
    height: 40px;
    background-color: #4d220ff8;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.1s linear, 1s;
    -moz-transition: all 0.1s linear, 1s;
    -o-transition: all 0.1s linear, 1s;
    -ms-transition: all 0.1s linear, 1s;
    -transition: all 0.1s linear, 1s;
}
.p-items .image-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.1s linear, 1s;
    -moz-transition: all 0.1s linear, 1s;
    -o-transition: all 0.1s linear, 1s;
    -ms-transition: all 0.1s linear, 1s;
    -transition: all 0.1s linear, 1s;
}
.p-items .p-item:hover .image-overlay{
    opacity: 1;
}

.items .open-button{
    float: left;
    left: -200px;
}
.items .project-link{
    float: right;
    right: -200px;
}

.items .item:hover .open-button{
    left: 0px;
}

.items .item:hover .project-link{
    right: 0px;
}

.p-items .p-item:hover img{
    -webkit-transform:scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.p-items{
    padding: 0;
}

/*
    Contact
*/
#contact {
    max-width: 100%;
    display: flex;
    align-items: center;
}
.contact-info {
    font-size: 1.1rem;
    margin: 2.5vh;
    padding: 2.5vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(63, 89, 154);
    border-radius: 0;
    
}
.ci-title {
    font-size: 1.9rem;
    font-weight: bold;
    margin-top: -2vh;
    color: rgb(50, 50, 50);
}
.ci-info {
    margin-top: 2vh;
    color: rgb(76, 76, 76);
}
.ci-info-item {
    display: flex;
    align-items: center;
}
.ci-media {
    margin-top: 2vh;
    color: rgb(50, 50, 50)
}
.ci-media p {
    font-weight: bold;
}
.ci-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    transition: 0.5s;
}
.ci-icon:hover {
    transform: scale(1.15);
}
.ci-icon-static {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.contact-form {
    position: relative;
    background-color: rgb(63, 89, 154);
    height: 56vh;
}
.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 50%, rgb(49, 69, 120));
    position: absolute;
}
.circle.one {
    width: 100px;
    height: 100px;
    bottom: 50px;
    right: 10px;
}
.circle.two {
    width: 70px;
    height: 70px;
    top: 20px;
    right: 40px;
}
form {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
    margin-top: -2vh;
}
.input-container {
    position: relative;
    margin-bottom: 0.75rem;
}
.input {
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    background: none;
    padding: 0.6rem 1.2rem;
    color: rgb(255, 255, 255);
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 0;
    transition: 0.5s;
    height: 2vh;
}
.input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}
.input:focus {
    background-color: rgb(49, 69, 120);
}
textarea.input {
    padding: 0.8rem 1.2rem;
    height: 10vh;
    border-radius: 0;
    resize: none;
    overflow-y: auto;
}
.form-btn {
    padding: 0.6rem 1.3rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    font-size: 0.95rem;
    color: rgb(35, 49, 86);;
    line-height: 0.5;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}
.form-btn:hover {
    background-color: transparent;
    color: rgb(255, 255, 255);
}


/*
    Footer
*/
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    width: 100vw;
    max-width: 100%;
    color: rgb(255, 255, 255);
    background: rgb(35, 49, 86);
    z-index: 10;
}
#scroll-up {
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    bottom: 15px;
    text-decoration: none;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    z-index: 3;
    -webkit-transform: translate(50%, 0%) rotate(225deg);
    -moz-transform: translate(50%, 0%) rotate(225deg);
    transform: translate(50%, 0%) rotate(225deg);
    -webkit-animation: fade_move_up 2s ease-in-out infinite;
    -moz-animation:    fade_move_up 2s ease-in-out infinite;
    animation:         fade_move_up 2s ease-in-out infinite;
}
@-webkit-keyframes fade_move_up {
    0%   { -webkit-transform:translate(0,2.5px) rotate(225deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,-2.5px) rotate(225deg); opacity: 0; }
}
@-moz-keyframes fade_move_up {
    0%   { -moz-transform:translate(0,2.5px) rotate(225deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,-2.5px) rotate(225deg); opacity: 0; }
}
@keyframes fade_move_up {
    0%   { transform:translate(0,2.5px) rotate(225deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,-2.5px) rotate(225deg); opacity: 0; }
}

/*
    Responsivity
*/
@media only screen and (max-width: 650px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }
    .nav-link:hover {
        height: 4rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
        height: 4rem;
    }
    .main {
        margin: 0;
        margin-bottom: 4rem;
    }
    .nav-icon {
        margin-left: 0;
    }
    #about {
        flex-direction: column;
    }
    #contact {
        flex-direction: column;
    }
    .contact-info {
        max-width: 100%;
        width: 85vw;
    }
    .contact-form {
        max-width: 100%;
        width: 100vw;
    }
    .input {
        width: 82vw;
    }
}
@media only screen and (min-width: 650px) {
    .navbar {
        top: 0;
        width: 4rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 18rem;
    }
    .navbar:hover .link-text {
        display: block;
    }
    .nav-icon {
        margin-left: 1rem;
    }
    .nav-link {
        height: 5rem;
    }
    #about {
        flex-direction: row;
    }
    .a-title {
        display: flex;
        justify-content: center;
        width: 36vw;
        margin: 0;
    }
    .a-title p {
        margin-left: 30px;
    }
    .a-content {
        width: 64vw;
    }
    #contact {
        flex-direction: row;
    }
    .contact-info {
        max-width: 40%;
        width: 40vw;
    }
    .contact-form {
        max-width: 60%;
        width: 60vw;
    }
    .input {
        width: 30vw;
    }
}